.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}


.nav__logo,
.nav__toggle {
    font-weight: 100;

}

.nav__list {
    display: flex;
    column-gap: 2rem;

}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 400;
    transition: .3s;
}

.nav__icon,
.nav__close, 
.nav__toggle {
    display: none;
}

.active-link, 
.nav__link:hover{
    color: var(--dark-orange);
}

.nav__logo {
    color: var(--dark-orange);
    font-weight: bold;
}